:root {
    --verde-bosque: #2C6E49;
    /* Para el encabezado, pie de página y elementos principales.*/
    --verde-menta: #88B04B;
    /*Para secciones destacadas o elementos de fondo.*/
    --beige-claro: #F5F3E7;
    /*Para fondos secundarios o detalles que contrasten con el verde.*/
    --blanco: #FFFFFF;
    /*Para mantener un diseño limpio y legible.*/
    --amarillo-dorado: #FFD166;
    /*Para botones de llamada a la acción o detalles que llamen la atención.*/
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

header {
    background-color: var(--verde-bosque);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

header nav {
    width: 30%;
}

header nav ul {
    display: flex;
    justify-content: space-around;
}

header nav ul li a {
    color: var(--beige-claro);
    display: flex;
    padding: 15px;
    border-radius: 10px;
}

header nav ul li a:hover {
    background-color: var(--verde-menta);
    transition: all 1s ease;
}

#wrapper {
    width: 80%;
    margin: 0 auto;
}

#servicios .subtitulo{
    font-size: 30px;
    font-weight: bold !important;
    margin: 20px 0;
}
#servicios .subtitulo span{
    border-bottom: 2px solid var(--verde-bosque);
}
#servicios .subtitulo2{
    margin-bottom: 15px;
}

/* Sección de servicios */
.container {
    display: flex;
    width: 75%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.servicios{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin-bottom: 3rem;
    background-color: var(--beige-claro);
    border-radius: 10px;
    padding: 1rem;
    height: 400px;
}
.servicios h4 {
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0;
    text-align: center;
}
.servicios div  img.imgServicios{
    width: 150px;
    height: 150px;
    border-radius: 150px;
}

/*SECCION DE NOSOTROS TITULOS*/
#inicio .container h2 {
    margin-top: 100px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.container p{
    text-align: center;
}

#TituloPregunta a h3 {
    font-size: 15px;
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#eee;
    padding:0;
}

.DesplegadoFAQ p ul li:hover > ul {
    display:block;
}

main{
    padding-top: 100px;
    width: 100%;
    height: 100%;
    text-align: left;
    justify-content: center;  
    box-sizing: border-box;  
}

footer {
    background-color: var(--verde-bosque);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

#imagenFondo{
    background-image: url(../img/camiones.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    margin-top: -100px;
}   

.FAQ1{
    background-image: url(../img/elemento.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    display: flex;
    justify-content: space-between;
}
.PreguntaBloqueTitulo{
    margin-top: 50px;
    margin-left: 125px;
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.PreguntaBloqueTexto{
    margin-top: 60px;
    text-align: left;
    margin-right: 150px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.FAQ2{
    width: 80%;
    margin: 50px auto;
}
h3{
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.DesplegadoFAQ p{
    margin: 10px 50px;
}
.DesplegadoFAQ li{
    margin: 10px 100px;
    color: gray;
}
.DesplegadoFAQ li strong{
    font-weight: bold;
    color: rgb(0, 0, 0);
}
